<div class="height-class is-flex is-flex-direction-column is-justify-content-space-between py-6">
  <span class="has-text-centered has-text-weight-bold title is-4 has-text-weight-bold">Group of Transaction</span>
  <div class="is-flex is-flex-direction-column mx-2">
    <%= link_to "Log in", login_path, class: "my-2 button is-primary" %>
    <%= link_to "Sign up", signup_path, class: "my-2 button" %>
  </div>
</div>
