// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bulma';

.height-class {
  height: 80vh;
}

.group-page-height{
  height: 80vh;  
}

.scroll {
  overflow-y: scroll;
  width: auto;
}

.create_button_position{
  display: block;
  position: relative;
  bottom: 0;
}

.card_design {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  align-items: center;
  i {
    align-items: center;
  }
}


.border-design {
  border: 2px solid black;
  display: inline-block;
  border-radius: 10px;
}

.card-date {
  padding: 6px 2px;
  font-size: 10px;
  font-weight: 500;
}

.width_height {
  width: inherit;
  height: inherit;
}

.form_border {
  border: 2px solid white;
  margin: 1rem;
  border-radius: 8px;
}
